$white = #ffffff
$black = #363636
$accent =  #CB6232
$title-color = #363636
$text-color = #000000
$link-color =  #363636
$blue =  #008EA5;

$min-width = 320px
$max-width = 1340px
$base-bg = #FFFFFF
$base-font-size = 14px
$base-line-height = 18px
$base-font-family = 'Century Gothic', sans-serif
$custom-font-family = 'Century Gothic', sans-serif
$default-transition = all 0.25s ease-out

$font-size-h1 = 110px
$line-height-h1 = 92px
$font-size-h2 = 60px
$line-height-h2 = 64px
$font-size-h3 = 38px
$line-height-h3 = 44px

